---
// Component Script (JavaScript)
---
<!-- Component Template (HTML + JS Expressions) -->
  <a href="whatsapp://send?phone=0000000000"
    class="btnWhatsApp">
    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
      <g clip-path="url(#clip0_301_3)">
      <circle cx="24" cy="24" r="24" fill="#4DC247"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M34.3985 11.8604C31.4337 9.33156 27.648 7.97166 23.7517 8.03587C19.8555 8.10007 16.1166 9.58396 13.2368 12.2091C10.3569 14.8342 8.53403 18.42 8.11025 22.2937C7.68646 26.1673 8.6909 30.0625 10.9351 33.2481C11.3368 33.8184 11.4124 34.5567 11.1345 35.1965L9.31939 39.3769L15.7491 38.231C16.1672 38.1565 16.5981 38.217 16.9795 38.4037C20.4793 40.1173 24.4841 40.4947 28.2424 39.4652C32.0007 38.4357 35.2542 36.0701 37.3921 32.8122C39.5301 29.5543 40.4057 25.6282 39.8545 21.7706C39.3033 17.913 37.3633 14.3891 34.3985 11.8604ZM23.6858 4.03641C28.5561 3.95615 33.2883 5.65603 36.9943 8.81702C40.7003 11.978 43.1253 16.3828 43.8143 21.2048C44.5032 26.0268 43.4088 30.9344 40.7363 35.0068C38.0639 39.0791 33.9971 42.0362 29.2992 43.3231C24.8167 44.551 20.0536 44.1777 15.8261 42.2803L6.35093 43.9689C5.62548 44.0982 4.88771 43.8181 4.43084 43.24C3.97396 42.6618 3.87201 41.8793 4.1655 41.2034L7.03341 34.5985C4.67375 30.8058 3.64581 26.3208 4.13397 21.8586C4.6637 17.0166 6.94228 12.5343 10.5421 9.2529C14.1419 5.97152 18.8155 4.11666 23.6858 4.03641ZM16.8787 15.8787C17.4413 15.3161 18.2044 15 19 15C19.7957 15 20.5587 15.3161 21.1213 15.8787C21.684 16.4413 22 17.2044 22 18V20C22 20.7956 21.684 21.5587 21.1213 22.1213C20.919 22.3236 20.6908 22.4941 20.4445 22.6294C20.8373 23.7582 21.4819 24.7956 22.3432 25.6569C23.2044 26.5181 24.2418 27.1627 25.3706 27.5556C25.506 27.3092 25.6764 27.081 25.8787 26.8787C26.4413 26.3161 27.2044 26 28 26H30C30.7957 26 31.5587 26.3161 32.1213 26.8787C32.684 27.4413 33 28.2044 33 29C33 29.7956 32.684 30.5587 32.1213 31.1213C31.5587 31.6839 30.7957 32 30 32H28C24.8174 32 21.7652 30.7357 19.5147 28.4853C17.2643 26.2348 16 23.1826 16 20V18C16 17.2044 16.3161 16.4413 16.8787 15.8787Z" fill="white"/>
      </g>
      <defs>
      <clipPath id="clip0_301_3">
      <rect width="48" height="48" fill="white"/>
      </clipPath>
      </defs>
      </svg>
  </a>

<style>
.btnWhatsApp{
    fill: white;
    width: 48px;
    height: 48px;
    padding: 3px;
    background-color: #4dc247;
    border-radius: 50%;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
    position: fixed;
    bottom: 20px;
    right : 20px;
    z-index: 10;
}

.btnWhatsApp:hover{
    box-shadow: 2px 2px 11px rgba(0,0,0,0.7);
}
</style>