---
// Component Script (JavaScript)

---
<!-- Component Template (HTML + JS Expressions) -->

<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
<title>WhatsApp</title>
<path d="M13 13.9832C13 14.1158 13.0527 14.2429 13.1464 14.3367C13.2402 14.4305 13.3674 14.4832 13.5 14.4832C13.6326 14.4832 13.7598 14.4305 13.8536 14.3367C13.9473 14.2429 14 14.1158 14 13.9832V12.9832C14 12.8505 13.9473 12.7234 13.8536 12.6296C13.7598 12.5358 13.6326 12.4832 13.5 12.4832C13.3674 12.4832 13.2402 12.5358 13.1464 12.6296C13.0527 12.7234 13 12.8505 13 12.9832V13.9832ZM13 13.9832C13 15.3092 13.5268 16.581 14.4645 17.5187C15.4021 18.4564 16.6739 18.9832 18 18.9832M18 18.9832H19C19.1326 18.9832 19.2598 18.9305 19.3536 18.8367C19.4473 18.7429 19.5 18.6158 19.5 18.4832C19.5 18.3505 19.4473 18.2234 19.3536 18.1296C19.2598 18.0358 19.1326 17.9832 19 17.9832H18C17.8674 17.9832 17.7402 18.0358 17.6464 18.1296C17.5527 18.2234 17.5 18.3505 17.5 18.4832C17.5 18.6158 17.5527 18.7429 17.6464 18.8367C17.7402 18.9305 17.8674 18.9832 18 18.9832ZM7 24.9831L8.65 21.1831C7.38766 19.3912 6.82267 17.2002 7.06104 15.0212C7.29942 12.8423 8.32479 10.8253 9.94471 9.34864C11.5646 7.87203 13.6677 7.03734 15.8594 7.00122C18.051 6.96511 20.1805 7.73005 21.8482 9.1525C23.5159 10.5749 24.6071 12.5571 24.9172 14.727C25.2272 16.8969 24.7347 19.1053 23.5321 20.9379C22.3295 22.7705 20.4994 24.1011 18.3854 24.6802C16.2713 25.2593 14.0186 25.047 12.05 24.0831L7 24.9831Z" stroke="#131B22" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>